body {
  background: #001c2e;
}

/* Container for the loader */
section {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 40px auto;

  /* Typography */
  font: 300 100% 'Roboto', sans-serif;
  text-align: center;

  color: #ffffff;
}


h1 {
  font-size: 4.5vw;
  /* Typography */
  margin: 40px 0 12px;
}

p {
  font-size: 2.8vw;
  margin-top: 0;
}

progress {
  height: 24px;
  width: 100%;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-progress-value {
  border-radius: 20px;
  background-color: #7be6e8;
}

::-webkit-progress-bar {
  border-radius: 20px;
  background-color: #4db3ff;
  background: linear-gradient(to right, #128688 0%, #4db3ff 100%);
}

::-webkit-progress-inner-element {
  border-radius: 20px;
}